h1 {
color: red;
}
.Almeyda {
font-weight: bold;
color: blue;
}
#Almeyda {
text-align: center;
}
body {
margin: 0;
font-family: Arial, sans-serif;
}
.imagenfondo {
width: 100%;
height: 400px;
color: white;
text-align: center;
padding-top: 150px;
/* Fondo con imagen */
background-image: url('imagen/img1.jpg'); /* tu imagen */
background-size: cover; /* ajusta al contenedor */
background-repeat: no-repeat; /* evita repetición */
background-position: center; /* centra la imagen */
}